.block-nice_menus {
	line-height: normal; z-index: 10;
}
ul.nice-menu {
	position: relative; z-index: 5;
}
ul.nice-menu ul {
	position: relative; z-index: 5;
}
ul.nice-menu li {
	position: relative;
}
ul.nice-menu a {
	display: block;
}
ul.nice-menu ul {
	visibility: hidden; position: absolute;
}
#header-region ul.nice-menu ul {
	visibility: hidden; position: absolute;
}
ul.nice-menu li.over ul {
	visibility: visible;
}
ul.nice-menu ul li {
	display: block;
}
ul.nice-menu::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
ul.nice-menu li:hover ul {
	visibility: visible;
}
ul.nice-menu li.menuparent li:hover ul {
	visibility: visible;
}
ul.nice-menu li.menuparent li.menuparent li:hover ul {
	visibility: visible;
}
ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul {
	visibility: visible;
}
ul.nice-menu li.over ul {
	visibility: visible;
}
ul.nice-menu li.menuparent li.over ul {
	visibility: visible;
}
ul.nice-menu li.menuparent li.menuparent li.over ul {
	visibility: visible;
}
ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul {
	visibility: visible;
}
#header-region ul.nice-menu li:hover ul {
	visibility: visible;
}
#header-region ul.nice-menu li.menuparent li:hover ul {
	visibility: visible;
}
#header-region ul.nice-menu li.menuparent li.menuparent li:hover ul {
	visibility: visible;
}
#header-region ul.nice-menu li.over ul {
	visibility: visible;
}
#header-region ul.nice-menu li.menuparent li.over ul {
	visibility: visible;
}
#header-region ul.nice-menu li.menuparent li.menuparent li.over ul {
	visibility: visible;
}
ul.nice-menu li:hover ul ul {
	visibility: hidden;
}
ul.nice-menu li:hover ul ul ul {
	visibility: hidden;
}
ul.nice-menu li:hover li:hover ul ul {
	visibility: hidden;
}
ul.nice-menu li:hover li:hover ul ul ul {
	visibility: hidden;
}
ul.nice-menu li:hover li:hover li:hover ul ul {
	visibility: hidden;
}
ul.nice-menu li:hover li:hover li:hover ul ul ul {
	visibility: hidden;
}
ul.nice-menu li.over ul ul {
	visibility: hidden;
}
ul.nice-menu li.over ul ul ul {
	visibility: hidden;
}
ul.nice-menu li.over li.over ul ul {
	visibility: hidden;
}
ul.nice-menu li.over li.over ul ul ul {
	visibility: hidden;
}
ul.nice-menu li.over li.over li.over ul ul {
	visibility: hidden;
}
ul.nice-menu li.over li.over li.over ul ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li:hover ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li:hover ul ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li:hover li:hover ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li:hover li:hover ul ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li:hover li:hover li:hover ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li:hover li:hover li:hover ul ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li.over ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li.over ul ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li.over li.over ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li.over li.over ul ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li.over li.over li.over ul ul {
	visibility: hidden;
}
#header-region ul.nice-menu li.over li.over li.over ul ul ul {
	visibility: hidden;
}
ul.nice-menu li.menuparent ul {
	overflow: visible !important;
}
#header-region ul.nice-menu li.menuparent ul {
	overflow: visible !important;
}
ul.nice-menu li.menuparent ul iframe {
	left: 0px; top: 0px; width: 20px; height: 20px; display: block; position: absolute; z-index: -1;
}
#header-region ul.nice-menu li.menuparent ul iframe {
	left: 0px; top: 0px; width: 20px; height: 20px; display: block; position: absolute; z-index: -1;
}
